<div class="col mb-5">
    <div class="card h-100 hover-grow bg-dark text-light border-light">
        <!-- Product image-->
        <img class="card-img-top" src="/images/{{ produit.img }}" alt="..." />
        <!-- Product details-->
        <div class="card-body p-4">
            <div class="text-center">
                <!-- Product name-->
                <h5 class="fw-bolder">{{ produit.nom }}</h5>
                <!-- Product price-->
                {{ produit.prix }} €
            </div>
        </div>
        <!-- Product actions-->
        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center"><a class="btn btn-outline-light mt-auto" href="#" data-bs-toggle="modal" data-bs-target="#productModal{{produit.id}}">Voir détails</a></div>
        </div>
    </div>
</div>

<div class="modal fade" id="productModal{{produit.id}}" tabindex="-1" aria-labelledby="productModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body pt-0 px-0 bg-dark text-light">
        <img src="/images/{{ produit.img }}" class="img-fluid" alt="{{ produit.nom }}">
        <div class="mt-3 px-3">
          <h5 class="fw-bolder">{{ produit.nom }}</h5>
          <p>{{ produit.prix }} €</p>
          <p>{{ produit.description }}</p>
        </div>
      </div>
    </div>
  </div>
</div>